<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        My Fantasy Assistant
      {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    
    <nav class="navbar">
      <div class="hamburger" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <a href="{% url 'home' %}" class="logo">My Fantasy Assistant</a>
      <ul class="nav-menu" id="nav-menu">
        <li class="nav-item">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a href="#">Live</a>
        </li>
        <li class="dropdown nav-item">
            <a href="{% url 'overall_rankings' %}">Rankings</a> 
            <div class="dropdown-content">
              <a href="{% url 'quarterback_rankings' %}">Quarterbacks</a>
              <a href="{% url 'runningback_rankings' %}">Running Backs</a>
              <a href="{% url 'widereciever_rankings' %}">Wide Recievers</a>
              <a href="{% url 'tightend_rankings' %}">Tight Ends</a>
              <a href="{% url 'kicker_rankings' %}">Kickers</a>
              <a href="{% url 'defense_rankings' %}">Defenses</a>
            </div>
        </li>
        <li class="nav-item">
          <a href="{% url 'team_schedules' %}">Schedule</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'news' %}">News</a>
        </li>
        <li class="nav-item">
          <a href="#">Waiver Wire</a>
        </li>
        <li class="nav-item">
          <a href="#">Trade Analyzer</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'notes' %}">Notes</a>
        </li>
      </ul>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer class="site-footer">
      <p>2024 My Fantasy Assistant. All rights reserved.</p>
      <nav class="footer-nav">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
      </nav>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>