{% extends "base.html" %} 
{% load static %}
{% block title %} Kicker Rankings {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/rankings.css' %}">
<h1>Kicker Rankings (2024)</h1>
<table class="rankings-table">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Bye Week</th>
    </tr>
    {% for k in kickers %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td><a href="{{k.info}}" target="_blank">{{k.name}}</a></td>
        <td>{{k.team}}</td>
        <td>{{k.bye_week}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}