{% extends "base.html" %} 
{% load static %}
{% block title %} Tight End Rankings {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/rankings.css' %}">
<h1>Tight Ends</h1>
<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Bye Week</th>
    </tr>
    {% for te in tightends %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{te.name}}</td>
        <td>{{te.team}}</td>
        <td>{{te.bye_week}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}