{% extends "base.html" %} 
{% load static %}
{% block title %} Wide Reciever Rankings {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/rankings.css' %}">
<body>
<h1>Wide Recievers</h1>
<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Bye Week</th>
    </tr>
    {% for wr in widerecievers %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{wr.name}}</td>
        <td>{{wr.team}}</td>
        <td>{{wr.bye_week}}</td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}