{% extends "base.html" %} 
{% load static %}
{% block title %} Wide Reciever Rankings {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/rankings.css' %}">
<h1>Wide Reciever Rankings (2024)</h1>
{% include 'rankings_navbar.html' %}

<table class="rankings-table">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
        <th>Bye Week</th>
        <th>ADP</th>
    </tr>
    {% for wr in widerecievers %}
    <tr> 
        <td>{{forloop.counter}}</td>
        <td><a href="{{wr.info}}" target="_blank">{{wr.name}}</a></td>
        <td>{{wr.team}}</td>
        <td>{{wr.bye_week}}</td>
        <td>{{wr.adp}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}