{% extends "base.html" %} 
{% load static %}
{% block title %} Team Schedules {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
<h1>Team Schedules 2024</h1>
{% for team in teams %}
<table class="schedule-table table-{{forloop.counter}}">
    <tr>
        <th colspan="19">{{team.name}}</th>
    </tr>
    <tr>
        <td>1</td><td>2</td><td>3</td>
        <td>4</td><td>5</td><td>6</td>
        <td>7</td><td>8</td><td>9</td>
        <td>10</td><td>11</td><td>12</td>
        <td>13</td><td>14</td> <td>15</td>
        <td>16</td><td>17</td><td>18</td>
    </tr>
    <tr>
        {% for opponent in team.opponents %}
        <td>{{opponent}}</td>
        {% endfor %}
</tr>
</table>
{% endfor %}
{% endblock %}
