.notes-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px; 
    padding: 20px;
}

.note-card {
    position: relative;
    background-color: #575252;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
    color: #e0e0e0;
}

.note-title:link, .note-title:visited {
    text-decoration: none;
    color: #e0e0e0;
}

.note-title:hover {
    text-decoration: underline;
}

.note-detail {
    background-color: #575252;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px 50px;
    color: #e0e0e0;
}

.note-detail h2 {
    margin-top: 0;
}

h1 {
    text-align: center;
}

.note-form {
    margin: auto;
    width: 21%;
    max-width: 800px;
    background-color: #575252;;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
    color: #e0e0e0;
}

.note-form input, .note-form textarea {
    width: 90%;
    max-width: 100%; 
    margin-top: 8px;
}

.create-note-button {
    background-color: #575252;
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 14px;
    color: #e0e0e0;
    position: absolute;
    top: 8%;
    right: 2%;
    font-family: verdana, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-note-button:hover {
    background-color: #776c6c;
}

.delete-button {
    display: inline-block;
    position: absolute;
    top: 8%;
    right: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.delete-button:hover {
    text-decoration: none;
}

.edit-button {
    display: inline-block;
    position: absolute;
    top: 8%;
    right: 8%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


@media (max-width: 900px) {
    .notes-list {
        grid-template-columns: 1fr;
    }

    .note-card h2{
        font-size: 18px;
    }

    .note-card p {
        font-size: 16px;
    }
    .note-form {
        width: 50%;
    }
}




