table {
    border-style: solid;
    border-color: rgb(233, 231, 231);
    border-width: 2px;
    width: 100%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: powderblue;
}

th {
    background-color: white;
}

td {
    border-style: solid;
    border-color: rgb(233, 231, 231);
    border-width: 2px;
}

body {
    margin-bottom: 10px;
}

