.rankings-table {
    border-color: rgb(233, 231, 231);
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: white;
}

.rankings-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.rankings-table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.rankings-table tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rankings-table th {
    background-color: rgb(66, 64, 64);
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
}

.rankings-table td {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.rankings-table a:link, .rankings-table a:visited {
    color: white;
    text-decoration: none;
}

.rankings-table a:hover {
    text-decoration: underline;
}


