{% extends "base.html" %} 
{% load static %}
{% block title %} Notes {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
<h1>Notes</h1>

<a href="{% url 'note_create' %}" class="create-note-button">Create New Note</a>
<div class="notes-list">
    {% for note in notes %}
    <div class="note-card">
        <h2><a href="{% url 'note_detail' pk=note.id %}" class="note-title">{{note.title}}</a></h2>
        <p>{{note.text}}</p>

        <form action="{% url 'note_delete' note.id %}" method="post">
            {% csrf_token %}
            <a href="#" class="delete-button" onclick="confirmDelete(event, this)">
                <i class="fas fa-trash-alt"></i>
            </a>
        </form>
        
        <a href="{% url 'note_edit' note.id %}" class="edit-button">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>
    {% endfor %}
</div>

<script>
    function confirmDelete(event, element) {
        event.preventDefault()
        if (confirm("Are you sure you want to delete this note?")) {
            element.closest('form').submit();
        }
    }
</script>

{% endblock %}