{% extends "base.html" %} 
{% load static %}
{% block title %} Trade Analyzer {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/trade_analyzer.css' %}">
<h1>Trade Analyzer</h1>

<div class="container">
    <form method="POST" id="tradeForm">
        {% csrf_token %}
        <div class="trade-section">
            <div class="column" id="givingColumn">
                <h2>Giving</h2>
                <div id="givingPlayersContainer">
                    <div class="player-input-container">
                        <input type="text" name="giving[]" class="player-input" placeholder="Player search..." autocomplete="off">
                        <ul class="trade-dropdown"></ul>
                    </div>
                </div>
                <button type="button" id="addGivingPlayer" class="add-player-button">Add Player</button>
            </div>
            <div class="column" id="gettingColumn">
                <h2>Getting</h2>
                <div id="gettingPlayersContainer">
                    <div class="player-input-container">
                        <input type="text" name="getting[]" class="player-input" placeholder="Player search..." autocomplete="off">
                        <ul class="trade-dropdown"></ul>
                    </div>
                </div>
                <button type="button" id="addGettingPlayer" class="add-player-button">Add Player</button>
            </div>
        </div>
        <button type="submit" class="analyze-button">Analyze Trade</button>
    </form>

    <div id="resultContainer" style="display: none;">
        <h2 id="resultText"></h2>
    </div>
</div>

</div>


<script src="{% static 'js/trade_analyzer.js' %}"></script>

{% endblock %}