{% extends "base.html" %} 
{% load static %}
{% block title %} Trade Analyzer {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/trade_analyzer.css' %}">
<h1>Trade Analyzer</h1>

<div class="container">
    <form method="POST" action="{% url 'compare_trade' %}">
        {% csrf_token %}
        <div class="trade-section">
            <div class="column">
                <h2>Giving</h2>
                <input type="text" id="player_1" name="player_1" class="player-input" placeholder="Player search..." autocomplete="off">
            </div>
            <div class="column">
                <h2>Getting</h2>
                <input type="text" id="player_2" name="player_2" class="player-input" placeholder="Player search..." autocomplete="off">
            </div>
        </div>
        <button type="submit" class="analyze-button">Analyze Trade</button>
    </form>
</div>

{% if result %}
    <h3>{{ result }}</h3>
{% endif %}

{% endblock %}