/* Table Styles */

.rankings-table {
    border-color: rgb(233, 231, 231);
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: white;
}

.rankings-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.rankings-table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.rankings-table tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rankings-table th {
    background-color: rgb(66, 64, 64);
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
}

.rankings-table td {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.rankings-table a:link, .rankings-table a:visited {
    color: white;
    text-decoration: none;
}

.rankings-table a:hover {
    text-decoration: underline;
}

/* Nav Styles */

.rankings-nav {
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    width: 80%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.3);
}

.rankings-menu {
    list-style: none;
    display: flex;
    padding: 3px;
    margin: 0;
}

.rankings-menu li {
    margin: 0 15px;
}

.rankings-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.rankings-menu a:hover {
    color: #ff9800;
}

.active {
    background-color: #ff9800;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .rankings-menu li {
        margin: 10px;
    }
}

/* Pagination Styles */

.pagination {
    margin: 20px auto;
    max-width: 79%;
}

.pagination-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pagination-list li {
    display: inline;
    margin-right: 10px;
}

.pagination-list li a {
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-list li a:hover {
    background-color: rgba(214, 214, 214, 0.818)
}

.current-page {
    color: white;
}