{% extends "base.html" %} 
{% block title %} Rankings {% endblock %}

{% block content %} 
<ul>
    <h1>Quarterbacks</h1>
    {% for qb in quarterbacks %}
    <li> {{qb.name}} {{qb.team}} {{qb.bye_week}} </li>
    {% endfor %}
</ul>
<ul>
    <h1>Running Backs</h1>
    {% for rb in runningbacks %}
    <li> {{rb.name}} {{rb.team}} {{rb.bye_week}} </li>
    {% endfor %}
</ul>
<ul>
    <h1>Wide Recievers</h1>
    {% for wr in widerecievers %}
    <li> {{wr.name}} {{wr.team}} {{wr.bye_week}} </li>
    {% endfor %}
</ul>
<ul>
    <h1>Tight Ends</h1>
    {% for te in tightends %}
    <li> {{te.name}} {{te.team}} {{te.bye_week}} </li>
    {% endfor %}
</ul>
<ul>
    <h1>Kickers</h1>
    {% for k in kickers %}
    <li> {{k.name}} {{k.team}} {{k.bye_week}} </li>
    {% endfor %}
</ul>
{% endblock %}