{% extends "base.html" %} 
{% load static %}
{% block title %} Fantasy News {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<h1>Fantasy News</h1>

{% for item in page_obj %}
<div class="news-item">
    <img src="{{ item.image }}" alt="{{ item.header }}" class="player-image">
    <div class="news-text">
        <h2>{{item.header}}</h2>
        <p>{{item.date}}</p>
        <p>{{item.description}}</p>
        <p><strong>Fantasy Impact:</strong> {{item.fantasy_impact}}</p>
    </div>
</div>
{% endfor %}

<div class="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; First</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

